<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header><h3>Sign Up</h3></mat-card-header>
    <mat-card-content>
      <form [formGroup]="signupForm">
        <mat-form-field>
          <mat-label>username</mat-label>
          <input
            matInput
            value=""
            formControlName="username"
            name="newUsername"
            placeholder="create a username"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>password</mat-label>
          <input
            autocomplete="new-password"
            matInput
            value=""
            formControlName="password"
            name="newPassword"
            type="password"
            placeholder="create a password"
          />
        </mat-form-field>

        <mat-form-field style="margin-bottom: 20px">
          <mat-label>confirm password</mat-label>
          <input
            autocomplete="new-password"
            matInput
            value=""
            type="password"
            name="confirmNewPassword"
            formControlName="confirmPassword"
            placeholder="type password again"
          />
          <mat-error *ngIf="signupForm.controls.confirmPassword.invalid">
            Passwords dont match!
          </mat-error>
        </mat-form-field>
        <button
          mat-stroked-button
          type="submit"
          (click)="signup()"
          [disabled]="this.signupForm.invalid"
        >
          create account
        </button>
      </form>
      <p style="font-size: x-small; margin-top: 2em">
        Already have an account?
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"
          >login here</a
        >
      </p>
    </mat-card-content>
  </mat-card>
</div>
