<div style="display: flex; width: 100%; justify-content: center">
  <mat-card style="min-width: 300px; margin-top: 15%">
    <mat-card-header><h3>Login</h3></mat-card-header>
    <mat-card-content>
      <form style="display: flex; flex-direction: column" [formGroup]="loginForm">
        <mat-form-field class="example-full-width">
          <mat-label>username</mat-label>
          <input matInput formControlName="username" value="" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>password</mat-label>
          <input matInput value="" formControlName="password" type="password" />
        </mat-form-field>
        <button mat-stroked-button type="submit" (click)="login()" [disabled]="loginForm.invalid">login</button>
      </form>
      <p style="font-size: x-small; margin-top: 2em">
        Don't have an account? 
        <a [routerLink]="['/signup']" routerLinkActive="router-link-active">Sign up here</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
